<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GithubAPIMyList.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9A5CE88C27BC8AA7008D75A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A5CE89C27BC8AA8008D75A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A5CE8A627BC8AA8008D75A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
