<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1034051003317-s1dfur44edmd0qhpj3f6l50spb56i06f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1034051003317-s1dfur44edmd0qhpj3f6l50spb56i06f</string>
	<key>API_KEY</key>
	<string>AIzaSyBFAqihlu2CXd_ydH6-tjnlH8nX4NGdMUE</string>
	<key>GCM_SENDER_ID</key>
	<string>1034051003317</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kokiTakashiki.FirebaseCloudMessagingTest</string>
	<key>PROJECT_ID</key>
	<string>fir-cloudmessagingtest-b1008</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-cloudmessagingtest-b1008.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034051003317:ios:7c2e39387a8fd5fd882ffc</string>
</dict>
</plist>